html,body { margin:0 auto; }
        a{
            text-decoration:none;
        }
        #header {
            padding: 22px 0;
            height: 44px;
        }
        .logo {
            width: 1200px;
            margin: 0 auto;
            overflow: hidden;
        }
        .logo h1 {
            position: relative;
            top: -25px;
            display: block;
            float: left;
            zoom: 1;
            width: 110px;
            height: 44px;
            vertical-align: middle;
        }
        .login-msg {
         line-height: 16px;
         padding: 6px 10px;
         background: #fef2f2;
         border: 1px #ffb4a8 solid;
     }
     .login-msg.error {
        color: #6C6C6C;
    }
    .login-msg p {
        font-size: 12px;
        margin: 0;
        padding: 0;
    }
    .logo .link {
        float: right;
        line-height: 44px;
        color: #666;
        font-size: 12px;
        text-decoration: none;
    }
    .logo .link:hover{
        color: red;
    }
    #content {
        width: 100%;
        position: relative;
    }
    .login-newbg {
        background-position: center center;
        width: 100%;
        height: 600px;
    }
    .login-box-warp {
        position: absolute;
        top: 50%;
        left: 80%;
        margin: -160px 0 0 -175px;
        width: 350px;
        height: 320px;
    }
    .login-box {
        width: 300px;
        padding: 25px 25px 23px;
        color: #6c6c6c;
        background: #fff;
        position: relative;
        margin: 0 auto;
    }
    .login-title {
        height: 18px;
        line-height: 18px;
        font-size: 16px;
        color: #3c3c3c;
        margin-top: 9px;
        padding-bottom: 8px;
        font-weight: 700;
    }
    .field {
        margin-top: 20px;
        position: relative;
    }
    label {
        display: block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #fff;
        background: #ddd;
        text-align: center;
        position: absolute;
        left: 1px;
        top: 1px;
        outline: 0;
    }
    .login-text {
        width: 240px;
        font-size: 14px;
        line-height: 18px;
        height: 18px;
        padding: 11px 8px 11px 50px;
        border: 1px solid #ddd;
    }
    .iconfont {
        font-size: 22px;
        font-family: iconfont!important;
        font-size: 16px;
        font-style: normal;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: .2px;
        -moz-osx-font-smoothing: grayscale;    
    }
    #login-pwd{
	margin-top:20px;
	font-size:12px;
	color: #6c6c6c;
    }
    #login-pwd a{
	color: #6c6c6c;
	float:right;
    }
    #login-pwd a:hover{
	color: red;
}
    button {
        width: 300px;
        height: 42px;
        margin-top: 20px;
        border: 0;
        display: inline-block;
        overflow: hidden;
        vertical-align: middle;
        line-height: 42px;
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        background: #f40;
        border-radius: 3px;
        cursor: pointer;
        zoom: 1;
    }
    .login-links {
        margin-top: 25px;
        overflow: hidden;
        text-align: right;
    }
    .login-links a{
        font-size: 12px;
        color: #6c6c6c;
        text-decoration: none;
    }
    .login-links a:hover{
        color: red;
    }
    .footer {
    position: relative;
    margin: 60px auto 0;
    padding: 7px 0 9px;
    border-top: 1px solid #ddd;
    width: 1200px;
    font-size: 12px;
}
.footer a {
    display: inline;
    float: left;
    margin: 0 4px;
    color: #6c6c6c;
}
.footer a:hover{
    color: red;
}
.footer em{
    margin-left: 30px;
    color: #9c9c9c;
}
.footer span {
    display: inline;
    float: left;
    margin: 0 4px;
    color: #9c9c9c;
}
.footer b {
    display: inline;
    float: left;
    margin: 0 3px;
    font-weight: 400;
    color: #ddd;
}